@import "./variables.scss";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
    cursor: pointer;
    border: unset;
    outline: unset;
    color: $color-white;
    background-color: unset;
    font-size: .9rem;
    font-family: $font-primary;
}
ul{
    list-style: none;
}
li{
    list-style: none;
}
a,
a:hover,
a:visited,
a:active
{
    text-decoration: none;
    color: $color-white;
}
input{
    border: solid 1px #000;
    outline: unset;
    background-color: unset;
    font-family: $font-primary;
    color: $color-white;
}
