//Colors
$color-black: #000;
$color-white: #fff;
$color-gray: rgba(255, 255, 255, 0.5);

$color-twitch: #6441a5;
$color-twitch-hover: #4d2d88;

$color-dark-primary: #121317;
$color-dark-secondary: #0a0a0e;

$color-light-blue: #7A9EEF;
$color-light-pink: #B8479F;

//Fonts
$font-primary: 'Montserrat', sans-serif;
$font-size-base: 16px;

//margin
$margin-base: 2rem;
$margin-base-half: 1.5rem;
$margin-base-double: 4rem;

// Small devices (landscape phones, 576px and up)
$small-devices: 576px;

// Medium devices (tablets, 768px and up)
$medium-devices: 768px;

// Large devices (desktops, 992px and up)
$large-devices: 992px;

// Extra large devices (large desktops, 1200px and up)
$extra-large-devices: 1200px;